@import "./styles/navbar.css";
@import "./styles/herosection.css";
@import "./styles/categorysection.css";
@import "./styles/productsection.css";
@import "./styles/offersdeals.css";
@import "./styles/recommended.css";
@import "./styles/WhyAR.css";
@import "./styles/Footer.css";
@import "./styles/Cart.css";
@import "./styles/Wishlist.css";
@import "./styles/productDetails.css";
@import "./styles/ARViewer.css";
@import "./styles/About.css";
@import "./styles/Offers.css";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Inter", sans-serif;
}


